@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?pk7k58");
  src: url("fonts/icomoon.eot?pk7k58#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?pk7k58") format("truetype"), url("fonts/icomoon.woff?pk7k58") format("woff"), url("fonts/icomoon.svg?pk7k58#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook-square:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\69"; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

@keyframes slideUp {
  0% {
    top: 20%;
    opacity: 0; }
  50% {
    top: 10%;
    opacity: 0.7; }
  100% {
    top: 0%;
    opacity: 1; } }
@-webkit-keyframes slideUp {
  0% {
    top: 20%;
    opacity: 0; }
  50% {
    top: 10%;
    opacity: 0.7; }
  100% {
    top: 0%;
    opacity: 1; } }
.slideUp {
  position: relative;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  visibility: visible; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.btn-left {
  margin-right: 10px; }

.btn-right {
  margin-left: 10px; }

#loading-wrapper {
  background: black;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999; }

#player-wrapper {
  position: absolute;
  bottom: 40%;
  animation-name: run;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: scale(1.1); }
  #player-wrapper img {
    width: 150px; }

.vertical-center {
  display: flex;
  justify-content: center; }

.vertical-center--child {
  align-self: center; }

nav {
  background-color: transparent;
  color: white;
  box-shadow: none;
  font-family: "Roboto", sans-serif; }
  nav .nav-wrapper {
    padding: 0 10px;
    text-align: center; }
    nav .nav-wrapper ul {
      display: inline-block; }
      nav .nav-wrapper ul a {
        font-size: 20px; }
        nav .nav-wrapper ul a:hover {
          text-decoration: underline;
          opacity: 0.9; }
  nav a, nav li {
    text-transform: uppercase; }

nav ul a:hover {
  background: none; }

.btn-apply {
  margin-left: 15px;
  font-size: 20px;
  color: #fff;
  float: right;
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear; }
  .btn-apply:hover {
    background-color: #8DB5E2;
    border: 2px solid #8DB5E2;
    color: #fff; }

.btn-apply-inverse {
  color: #000;
  background-color: #8DB5E2;
  border: none !important; }
  .btn-apply-inverse:hover {
    background: black;
    color: #8DB5E2 !important; }

.nav-down {
  background-color: #424242;
  color: #8DB5E2;
  opacity: 0.9; }

#nav-logo {
  width: 30px;
  position: relative;
  top: 10px; }

.btn-apply {
  border: 2px solid #fff;
  border-radius: 21px; }

#brand-logo {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  float: left; }
  @media only screen and (max-width: 500px) {
    #brand-logo {
      float: none;
      text-align: center;
      margin: 0 auto; } }

#brand-logo-inverse {
  color: #000; }

.nav-inital {
  background-color: black;
  color: white;
  box-shadow: none; }
  .nav-inital a {
    color: white; }

.link-scroll {
  color: #8DB5E2 !important; }

.landing-container {
  width: 100%;
  height: 100vh;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center; }
  .landing-container .logo {
    width: 55px;
    display: inline-block;
    margin-right: 5px; }
  .landing-container .logo-text {
    display: inline-block;
    color: white; }
  .landing-container h1, .landing-container h3 {
    text-align: center; }
  .landing-container h1 {
    font-size: 5em;
    letter-spacing: -3px; }
  .landing-container h3 {
    font-size: 1.8em;
    color: #D8D8D8; }
  .landing-container .btn {
    color: white;
    border: 1px solid white;
    margin-right: 30px;
    line-height: 48px;
    height: 48px;
    letter-spacing: 1.5px; }
    .landing-container .btn:hover {
      background-color: transparent; }

.modal {
  top: 25%;
  width: 35%;
  padding: 10px 20px;
  color: black;
  min-height: 40%; }
  .modal h4 {
    color: #1F9C37;
    display: inline-block;
    position: relative;
    bottom: 10px;
    font-size: 22px; }
  .modal .title {
    float: left; }
  .modal p {
    text-align: justify; }
  .modal img {
    width: 35px; }
  .modal .close-modal {
    float: right; }
    .modal .close-modal:hover {
      pointer: cursor; }
  .modal .modal-footer {
    border-top: 1px solid #D8D8D8; }

#mc-embedded-subscribe {
  width: 100%;
  background-color: #1F9C37;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px; }

.landing-info {
  display: block;
  margin: 0 auto;
  color: black;
  font-family: "Roboto", sans-serif; }

.landing-btn-container {
  text-align: center; }

.about-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .about-container h3 {
    text-transform: uppercase;
    font-size: 1.65rem; }

.about-left {
  min-height: 60vh;
  padding: 7%;
  background-color: #8DB5E2; }

.about-right {
  padding: 7%;
  min-height: 60vh; }

.text-center {
  width: 60%; }

.schedule-container {
  min-height: 50vh;
  padding: 50px 10px; }
  .schedule-container .title {
    text-align: center; }
    .schedule-container .title p {
      color: #ACACAC;
      font-size: 18px; }
  .schedule-container h5 {
    text-align: center; }
  .schedule-container .steps {
    padding: 30px; }
    .schedule-container .steps .btn-floating {
      background-color: #1F9C37;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      margin-right: 15px; }
    .schedule-container .steps p {
      display: inline-block; }

footer.page-footer {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  padding-top: 0px; }
  footer.page-footer .link:hover {
    color: #8DB5E2 !important; }

/*# sourceMappingURL=theme.css.map */
