@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?pk7k58');
    src:    url('fonts/icomoon.eot?pk7k58#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?pk7k58') format('truetype'),
        url('fonts/icomoon.woff?pk7k58') format('woff'),
        url('fonts/icomoon.svg?pk7k58#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-facebook-square:before {
    content: "\e900";
}
.icon-instagram:before {
    content: "\69";
}

//keyframes
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@keyframes slideUp {
	0%   {top: 20%; opacity: 0;}
    50%  {top: 10%; opacity: 0.7;}
    100% {top: 0%; opacity: 1;}
}

@-webkit-keyframes slideUp {
	0%   {top: 20%; opacity: 0;}
    50%  {top: 10%; opacity: 0.7;}
    100% {top: 0%; opacity: 1;}
}

.slideUp{
	position: relative;
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	visibility: visible;
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}
//clearfix
//clearfix
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search] {
	border-bottom: 0px;
	border: 1px solid white;
	width: 270px;
	height: auto;
	padding: 10px;
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
	font-size: 1.2em;
}

input[type=email]:focus:not([readonly]) {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 black;
}


//mixins
@mixin fade-bg {
	-webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -ms-transition: background 0.4s linear;
    -o-transition: background 0.4s linear;
    transition: background 0.4s linear;
}

//variables
$font-hd: 'Droid Serif', serif;
$font-body: 'Roboto', sans-serif;
$font-try:'Roboto', sans-serif;

$lt-blue: #8DB5E2;
$dark-blue: #0d47a1;
$lt-gray: #D8D8D8;
$med-gray: #616161;
$green: #76F488;
$dark-gray: #424242;
$black: #000;
$white: #fff;
$white-border: 2px solid #fff;
$black-border: 2px solid #000;

//buttons
.btn-left {
	margin-right: 10px;
}
.btn-right {
	margin-left: 10px;
}

#loading-wrapper {
	background: black;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#player-wrapper {
	position: absolute;
	bottom: 40%;
	animation-name: run;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform: scale(1.1);
	img {
		width: 150px;
	}
}

//Classes to vertically center things
.vertical-center {
   display: flex;
  justify-content: center;
}

.vertical-center--child {
  align-self: center;
}

//NAVBAR
nav {
	background-color: transparent;
	background-image: url(change.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	box-shadow: none;
	font-family: $font-hd;
	position: fixed;
	.nav-wrapper {
		padding: 0 10px;
		text-align: center;
		ul {
			display: inline-block;
			a {
				font-size: 20px;
				&:hover {
					text-decoration: underline;
					opacity: 0.9;
				}
			}
		}
	}
	a, li {
		text-transform: uppercase;
	}
}

//override materialize shadow cast
nav ul a:hover {
	background: none;
}

.btn-apply {
	margin-left: 15px;
	font-size: 20px;
	color: #fff;
	float: right;
	@include fade-bg;
	&:hover {
		background-color: $lt-blue;
		border: 2px solid $lt-blue;
		color: #fff;
	}
}

.btn-apply-inverse {
	color: $black;
	background-color: $lt-blue;
	border: none !important;
	&:hover {
		background: black;
		color: $lt-blue !important;
	}
}
.nav-down {
	background-color: $dark-gray;
	color: $lt-blue;
	opacity: 0.9;
}

.logo {
	color: white;
	padding-left: 10px;
	letter-spacing: 1.5px;
	img {
		width: 50px;
	}

	h3 {
		font-family: 'Unica One', cursive;
		text-transform: uppercase;
		margin-left: 5px;
		font-size: 2em;
	}
}


#brand-logo-inverse {
	color: $black;
}

.nav-inital {
	background-color: black;
	color: white;
	box-shadow: none;
	a {
		color: white;
	}
}

.link-scroll {
	color: $lt-blue !important;
}

//LANDING PAGE
.landing-container {
  width: 100%;
  height: 100vh;
  background-image: url(nature.png);
  background-size: cover;
  background-position: center;
  font-family: $font-hd;
  color: white;
  text-align: center;
  .logo {
  	width: 55px;
  	display: inline-block;
  	margin-right: 5px;
  }
  .logo-text {
  	display: inline-block;
  	color: white;
  }
  h1,h3 {
  	text-align: center;
  }
  h1 {
  	font-size: 40px;
  	letter-spacing: 0.5px;
  	line-height: 50px;
  }
  h3 {
  	font-size: 1.8em;
  }
  h5 {
  	font-size: 1.3em;
  }
  .btn {
  	color: white;
  	border: 1px solid white;
  	margin-right: 30px;
  	line-height: 48px;
  	height: 48px;
  	letter-spacing: 1.5px;
  	&:hover {
  		background-color: transparent;
  	}
  }
}

.about-container {
	text-align: center;
	padding: 70px;
	p {
		max-width: 60%;
		font-size: 25px;
		margin: 0 auto;
		text-align: justify;
	}
	span {
		color: #1b5e20;
	}
	.step-container {
		width: 70%;
		margin: 50px auto;

	}
	.step {
		display: inline-block;
		.circle {
			width: 30px;
			height: 30px;
			padding: 5px;
			border-radius: 50px;
			border: 1px solid #1b5e20;
			margin-right: 0;
			color: black;
		}
		.text {
			display: inline-block;
			position: relative;
			left: 50px;
			bottom: 25px;
			color: black;
		}
	}
}

#action {
	text-decoration: underline;
	transition: background .175s ease-out, color .175s ease-out;
	color: white;
	&:hover {
		color: #76F488;
	}
}

#mce-EMAIL {
	margin-right: 5px;
}

#mc_embed_signup {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#mc_embed_signup div {
  display: inline-block;
  float: none;
}

.mc-field-group {
    width: 100%;
    max-width: 270px;
    display: inline-block;
}

.button {
  font-family: 'Unica One', cursive;
  font-weight: 400;
  display: inline-block;
  min-width: 100px;
  padding: 0.7em 1.5em;
  background-color: $green;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background .175s ease-out, color .175s ease-out;
  transition: background .175s ease-out, color .175s ease-out;
  border-radius: 0;
  line-height: 19px;
  margin-left: 0px;
  &:hover {
  	background-color: black;
  }
}


footer.page-footer {
	font-family: $font-try;
	margin-top: 0px;
	padding-top: 0px;
	.link:hover {
		color: $lt-blue !important;
	}
}
